.fs-products-list {
	max-width: $larg-max;
	margin: 0 auto;	
	@extend %clearfix;
	
}

.fs-prducts-header {
	@extend %clearfix;
}

.fs-products-list-title {
	font-size: fontSize(25);
	color: $black-color;
	float: left;
}

.fs-products-showAll {
	color: #bcb5a7;
	border: 1px solid #bcb5a7;
	padding: 5px 15px;
	text-decoration: none;
	font-size: fontSize(14);
	float: right;
	margin-top: 25px;

	&:hover {
		background: #bcb5a7;
		color: #fff;
	}
}


//page products
.fs-breadcrumb {
	color: #BCB5A7;
	font-size: fontSize(12);
	margin: 35px 0 20px 10px;
	display: inline-block;
}